.headings{
	display:inline;

	text-align:center;
}

#heading{
	float:left;
	display:inline;
	color:#f7f5f4;
}

ul.horizontal-navbar{
	text-align:center;
}

li.inline-list{
	display:inline;
	margin:20px;
	float:right;
	
}

div.background-div{
	
	height:700px;
	background-image: url("Znaka.png");
	background-repeat: no-repeat;
	background-size: cover;
}

div.background-div-second{
	padding:100px;	
	height:150px;
	background-color: white;
	background-size: cover;
}

div.vertical-div{
	background-color: #acaeaf;
	padding: 20px;
	border-radius: 12px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 75%;
	-ms-transform: translate(-50%, -75%);
	transform: translate(-50%, -75%);
	color:#f7f5f4;
}

a:link {
	color: #f7f5f4;
	text-decoration: none;
}

a:visited {
	text-decoration: none;  
	color: #f7f5f4;
}

a:hover {
	color: #afa6a3;
}

a:active {
	color: #afa6a3;
}

#donate{
	color: #f7f5f4;
	background-color: #1797b7;
	width: 180px;
	height:50px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
}
