.headings{
	display:inline;

	text-align:center;
}

#heading{
	float:left;
	display:inline;
	color:#f7f5f4;
}

ul.horizontal-navbar{
	text-align:center;
}

img.gallery-images{
	width: 300px;
	height: 300px;
	border-radius: 25px;
}

li.inline-list{
	display:inline;
	margin:20px;
	float:right;
	
}

ul.inline-list{
	display:inline;
	float:left;
	width: 15%;
	margin-right:5%;
	
}

div.background-div{
	
	height:700px;
	background-image: url("Znaka_two.png");
	background-repeat: no-repeat;
	background-size: cover;
}

div.campaigns{
	
	height:70px;
	background-image: url("Znaka_two.png");
	background-repeat: no-repeat;
	background-size: cover;
}


div.background-div-second{
	padding:100px;	
	height:150px;
	background-color: white;
	background-size: cover;
}

table, th, td{

	padding: 30px;
	margin: 0px auto;
}

.end-table{
	padding: 0px;
}

.n-bordered{
	border: 1px solid #939496;
	border-collapse: collapse;	
}
.n-bordered{
	border: none;
}

.n-bordered td{
	border: 1px solid #B71513;
}

.n-bordered tr:first-child td{
	border-top: none;
}

.n-bordered tr:last-child td{
	border-bottom: none;
}

.n-bordered tr td:first-child{
	border-left: none;
}

.n-bordered tr td:last-child{
	border-right: none;
}

div.followers-div{
	padding:100px;	
	height:350px;
	background-color: #B71513;
	background-size: cover;
}

div.end-div{
	padding:10px;	
	height:300px;
	background-color: #B71513;
	background-size: cover;
}

div.gallery-div{
	padding:100px;	
	height:1200px;
	background-color: white;
	background-size: cover;
}

div.vertical-div{
	background-color: #7f0606;
	padding: 20px;
	border-radius: 12px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 75%;
	-ms-transform: translate(-50%, -75%);
	transform: translate(-50%, -75%);
	color:#f7f5f4;
}

a:link {
	color: #f9f9fc;
	text-decoration: none;
}

a:visited {
	text-decoration: none;  
	color: #f9f9fc;
}

a:hover {
	color: #d4d4d6;
}

a:active {
	color: #d4d4d6;
}

#donate{
	color: #f7f5f4;
	background-color: #1797b7;
	width: 180px;
	height:50px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
}
